.header-section {
  background-color: black;
}

.profile-section {
  background-color: black;
  margin-top: -40px;
  margin-bottom: 100px;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hamburger-menu {
  display: none; /* Hidden by default */
  cursor: pointer;
  font-size: 30px;
  color: #e2e2e2;
  position: absolute;
  top: 20px;
  right: 20px; /* Position on the right side of the header */
}

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 40px;
}

.navbar-item {
  display: inline;
  margin-right: 20px;
  font-family: Copperplate, Papyrus, fantasy;
}

.social-icons {
  margin-top: 260px;
}

.logo {
  background-color: black;
  width: 100px;
  height: auto;
}

/* Mobile Layout */
@media (max-width: 767px) {
  .about-page {
    background-color: #000;
    color: #fff;
    padding: 0px;
    }

  .profile-section {
    background-color: black;
    margin-bottom: 100px;
    margin-top: 170px;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  /* Navbar List (Hidden by default on mobile) */
  .navbar-list {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: black;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1; /* Ensure it stays above social icons */
  }

  /* Show navbar items when the menu is open */
  .navbar-list.open {
    display: flex;
    align-items: flex-start;
    margin-top: 67px;
  }

  /* Hamburger Menu (Visible on mobile) */
  .hamburger-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 90px; /* Position on the right side of the header */
    z-index: 2; /* Ensure it stays above navbar items */
  }

  /* Adjust navbar items spacing */
  .navbar-item {
    margin: 10px 0;
    font-size: 20px;
    font-family: Copperplate, Papyrus, fantasy;
  }

  /* Center social icons when hamburger menu is opened */
  .social-icons {
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    z-index: 0;
  }

  /* Adjust social icons' appearance and spacing */
  .social-icon {
    margin: 0 10px;
    font-size: 24px;
  }
  /* Adjust content spacing for very small screens */
  .additional-text-sec.content-expanded {
    margin-top: 200px; /* Further increase on very small screens */
  }

}

@media (max-width: 480px) {
  .navbar-item {
    font-size: 14px;
    font-family: Copperplate, Papyrus, fantasy;
  }

  .social-icon {
    font-size: 20px; /* Smaller icons on very small screens */
  }

  .hamburger-menu {
    right: 45px;
  }

  /* Adjust content spacing for very small screens */
  .additional-text-sec.content-expanded {
    margin-top: 200px; /* Further increase on very small screens */
  }
}
